*{
 margin:0px 0px 0px 0px;
}

body,html{
 margin: 0px 0px 20px 10px;
}

.rounder{
 -moz-border-radius:12px;
 -webkit-border-radius:12px;
 -khtml-border-radius:12px;
 border-radius:12px; 
}

.bottom-rounder{
 -moz-border-radius-bottomleft:10px;
 -moz-border-radius-bottomright:10px;
 -webkit-border-bottom-left-radius:10px;
 -webkit-border-bottom-right-radius:10px;
 -khtml-border-bottom-left-radius:10px;
 -khtml-border-bottom-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
}

#full{
 width:100%;
}

#constrain{
 width:960px;
}

#one-col{
 width:100%;
}

#two-col{
 width:100%;
}

#two-col .one{
 float:left;
 width:610px;
}

#two-col .two{
 float:right;
 width:350px;
}

#navigation{
 table-layout:fixed;
 border-bottom:0.1em solid;
 border-left:0.1em solid;
 border-right:0.1em solid;
 margin-bottom:10px;
 margin-top:0px;
 padding-top:0px;
}

#navigation a{
 color:#000;
 font-size:0.9em;
}

#navigation ul{
 list-style:none;
}

#navigation li{
 display:inline;
}

#authenticate{
 position:relative;
 border: 0.1em solid;
 padding-left:10px;
 padding-bottom:10px;
}

#authenticate h2{
 padding-left:15px;
 font-size:1.2em;
}

#authenticate p{
 font-size:0.8em;
}

#authenticate a{
 color:#000;
 font-size:0.8em;
 text-decoration:none;
}

#authenticate span{
 color:#A00;
}

#authenticate label{
 float:left;
 font-size:0.9em;
 width:25%;
 margin-right:0.5em;
 padding-top:0.7em;
 text-align:right;
 font-weight:bold;
}

#authenticate input,
#authenticate select,
#authenticate textarea{
 margin-top:0.3em;
}